.App {
	height: 100vh;
}

.heading-container {

	text-align: center;
	padding: 2%;
}
.heading {
    display:block;
    text-align:center;
    font-size:55px;
    font-family:Verdana, sans-serif;
}

.body-content {
	padding: 2% 5% 2% 5%;
	background-color: #e8e6df;
	background-size: 100%;

}

.form-container {
    text-align:center;
    margin-top:0;
    margin-bottom:30;
}
.form-control{
    height:50px;

}
.btn {
    margin: 5px;
}
.imageSize {
    height:700px;
    border-radius:6%;
    transition : 1s  ease-in-out;
    filter:blur(5px);
}
.imageSize:hover{
    transition : 1s ease-in-out;
    transform : scale(1.1,1.1);
    filter:blur(0);
}
.content-text {
    color:white;
}